<h2>List of artists</h2>

<% if @artists.any? %>
  <ul>
    <% @artists.each do |artist| %>
      <li><a href="/artists/<%= artist.id%>"><%= artist.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no artists to display.</p>
<% end %>


<button class ="btn-warning"><a href="/artists/new">ADD a new artist</a></button>



